/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.root {
  max-height: 100%;
  max-width: 100%;
  text-align: center;
}

.containerText {
  width: 100%;
  position: relative;
  text-align: center;
  color: black;
}

.bannerContainer {
  width: 100%;
}

.bannerDiv {
  width: 100%;
  opacity: 0.5;
}

.headerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quoteContainer {
  display: flex;
  justify-content: space-around;
  padding: 5%;
}

.LineChartContainer {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.MapContainer {
  padding: 5%;
}