/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.root {
  max-height: 100%;
  max-width: 100%;
  text-align: center;
}

.containerText {
  width: 100%;
  position: relative;
  text-align: center;
  color: black;
}

.bannerContainer {
  width: 100%;
}

.bannerDiv {
  width: 100%;
  opacity: 0.5;
}

.caption {
  font-size: 24px;
}
.caption2 {
  font-size: 24px;
  text-align:justify;
  justify-content: center;
  line-height: 140%;
}

.headerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quoteContainer {
  display: flex;
  justify-content: space-around;
  padding: 5%;
}

.LineChartContainer {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 5% 0;
}

.MapContainer {
  padding: 5% 0;
}

.StackBarChart {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 90%;
  padding: 5% 0;
}

.BarChart {
  padding: 5%;
}

.BubbleChart {
  padding: 5% 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.BubbleWeaponChart {
  display: flex;
  /* justify-content: space-around; */
  align-content: center;
  align-items: center;
}

.MentalIllness {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 5% 0;
}

.QuoteCss {
  font-size: 20px;
}

.citeCss {
  font-size: 13px;
  color: gray;
}

.caption {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  overflow-wrap: break-word;
  line-height: 200%;
}